
.nav-contaner > dev{ /* = .nav-contaner dev */
  display: flex;
  flex-direction: row;
  background-color: #2d1313;
  font-family: Arial, sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  position: fixed;
  top: 0;
  left: 10px;
  right:10px;
  z-index: 1; 
}
dev.nav > a{ 
  color: #fff;
  text-decoration: none;
  padding: 1rem;
  display: block-inline;
  width: 100%;
  flex: 1 1 0;  /* 10% of the parent container, flex: 1 equates to: flex-grow: 1, flex-shrink: 1, flex-basis: 0. */
  text-align: center;
  transition: background-color 0.3s ease-in-out;
}
dev{
  background-repeat: repeat;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white;
}

.cont {
  background-color: purple;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba( 0, 0, 0);
}

.saifstudy.studyalert {
  position: fixed;
  margin: 20px;
  top: 0;
  right: 0;
  padding: 10px 20px 20px;
  background-color: #2d1313;
  color: purple;
  font-size: 14px;
  font-weight: bold;
  text-decoration: underline;
  cursor: wait;
  font-family: Arial, sans-serif;
  z-index: 0;
  overflow: auto;
  white-space: nowrap;
  word-break: break-all;
  font-family: 'Times New Roman', Times, serif;
}

.odin img {
  height: 100px;
  width: 100px;
  filter: saturate(200%);
  transition: filter 0.3s ease;
}
Saif{
  color: #00ff00; /* Set the desired color value */
  cursor: grab;
}
.odin img:hover {
  filter: saturate(100%);
}
a[href="pages/about.html"] {
  color: #00ff00; /* Set the desired color value */
}

a[href="Recipe Project/index.html"] {
  color: blue; /* Set the desired color value */
}
a[href="pages/about.html"] {
  color: #00ff00; /* Set the desired color value */
}
/* Flex declaration is Shorthand property. They are CSS properties that let you set the values of multiple other CSS properties simultaneously. 
Using a shorthand property, you can write more concise (and often more readable) stylesheets, saving time and energy. */
/*
  Block
  - Take Full Width If No Width
  - Add Line Break
  - Respect Padding, Margin, Width, Height
  Inline
  - Do Not Repsepct Width, Height
  - Respect Padding And Margin [ Just right + Left ]
  - Do Not Add Line Break
  - Allow Elements Before And After It in The Same Line
  Inline-Block
  - Allow Elements Before And After It in The Same Line
  - Respect Padding, Margin, Width, Height
*/
/* CSS Units
px
- em-> time x
- rem-> Root (html default wich is 16px) time x 
- nem or percentage-> from the font size of the parent element
- •Viewportwidth-> vw (from the actual web size to be responsive)
Read
- vmin
- vh
Default Font Size For Web Page Is 16px */
